# ios specific files
.DS_Store

# local python files
*.local.py
__pycache__/**

# test directory
test/

# notebook directories
.ipynb_checkpoints/

# notes
notes*.md

# output files

scripts/cpp/out/*
!scripts/cpp/out/.gitkeep

scripts/cpp/build/*
!scripts/cpp/build/.gitkeep

output/*

!output/.gitkeep

# Local environment configuration
.envrc

# Local python environment configuration
.venv
